[Unit]
Description=scoreboard
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/scoreboard
LimitNOFILE=4096
ExecStart=/home/pi/scoreboard/sb
ExecStop=/bin/kill -s SIGINT ${MAINPID}
Restart=on-failure
RestartSec=5s
TimeoutSec=10

[Install]
WantedBy=multi-user.target
